*{
    padding: 0;
    margin: 0;
}
article{
    background-color:rgb(206, 145, 241) ;
}
nav{
    background-color:rgb(240, 230, 175) ;
}
footer{
    background-color: rgb(131, 228, 172);
    
}
image{
    
}